<html>
<head>
    <title>Ảnh Cưới</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="viewport" width="device-width">
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/responsive.css" type="text/css" media="screen" />
    <link href="css/font-awesome.min.css" rel="stylesheet" />
    <link href="css/reset.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />
</head>
<body>
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=665773710245538";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <div class="container-fluid header">
        <div class="container">
            <div class="top-header">
                <div class="row">
                    <div class="col-md-4">
                        <div class="hotline">
                            Hotline: <strong>1900 6666</strong>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h1 class="logo-text">
                            <a href="">BEEF JAPAN</a>
                        </h1>
                    </div>
                    <div class="col-md-4">
                        <div class="btn-group cart-panel">
                            <p class="cart dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <label>Giỏ hàng của tôi</label>
                                <i class="fa fa-sort-desc" aria-hidden="true"></i>
                                <img class="store" src="images/icon-cart.png" />
                            </p>
                            <ul class="dropdown-menu cart-item dropdown-menu-right">
                                <li>
                                    <p class="thumbs">
                                        <img src="images/thumbs.jpg" />
                                    </p>
                                    <p>
                                        <a href="#">Thịt bò VIP</a>
                                        <label class="price">1.200.000 đ</label>
                                    </p>
                                    <a href="#" class="remove-item">
                                        <label>&#9747;</label>
                                    </a>
                                </li>
                                <li>
                                    <p class="thumbs">
                                        <img src="images/thumbs.jpg" />
                                    </p>
                                    <p>
                                        <a href="#">Thịt bò VIP</a>
                                        <label class="price">1.200.000 đ</label>
                                    </p>
                                    <a href="#" class="remove-item">
                                        <label>&#9747;</label>
                                    </a>
                                </li>
                                <li>
                                    <p class="thumbs">
                                        <img src="images/thumbs.jpg" />
                                    </p>
                                    <p>
                                        <a href="#">Thịt bò VIP</a>
                                        <label class="price">1.200.000 đ</label>
                                    </p>
                                    <a href="#" class="remove-item">
                                        <label>&#9747;</label>
                                    </a>
                                </li>
                                <li>
                                    <p class="thumbs">
                                        <img src="images/thumbs.jpg" />
                                    </p>
                                    <p>
                                        <a href="#">Thịt bò VIP</a>
                                        <label class="price">1.200.000 đ</label>
                                    </p>
                                    <a href="#" class="remove-item">
                                        <label>&#9747;</label>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="btn bt-checkout">Mua Hàng</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse no-padding" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">
                            Trang chủ
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Sản phẩm
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Món ngon
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Mua hàng
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Liên hệ
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid no-padding">
        <div class="slider" style="width: 100%; height: 300px; background: #000;">
            <img src="http://examples.quackit.com/pix/examples/australia-nz-map.gif"
                 width="200" height="142"
                 alt="Map of Australia and New Zealand"
                 usemap="#aus-nz">

            <map name="aus-nz">
                <area shape="poly" coords="3,47,45,12,105,7,140,60,120,125,12,90"
                      href="http://www.travel-explorer.com/category/places/australia/" target="_blank"
                      alt="Australia">
                <area shape="poly" coords="180,85,200,98,167,142,157,138"
                      href="http://www.travel-explorer.com/category/places/new-zealand/" target="_blank"
                      alt="New Zealand">
            </map>
        </div>
    </div>
    <div class="container">
        <div id="main-content" class="container">
            <div class="col-xs-12 col-md-3">
                <div id="sidebar-wrapper">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-section">
                                <div class="panel-heading">
                                    <h2 class="cur-pointer accordion-toggle" data-toggle="collapse" data-target="#collapse2">
                                        Thịt bò
                                    </h2>
                                </div>
                                <div id="collapse2" class="collapse in" style="height: auto;">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="item">
                                                <a href="#">Thịt bò 1</a>
                                            </div>
                                            <div class="item">
                                                <a href="#">Thịt bò 1</a>
                                            </div>
                                            <div class="item">
                                                <a href="#">Thịt bò 1</a>
                                            </div>
                                            <div class="item">
                                                <a href="#">Thịt bò 1</a>
                                            </div>
                                            <div class="item">
                                                <a href="#">Thịt bò 1</a>
                                            </div>
                                            <div class="item">
                                                <a href="#">Thịt bò 1</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-section">
                                <div class="panel-heading">
                                    <h2 class="cur-pointer accordion-toggle" data-toggle="collapse" data-target="#collapse3">
                                        Thịt bò
                                    </h2>
                                </div>
                                <div id="collapse3" class="collapse" style="height: auto;">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="item">
                                                <a href="#">Thịt bò 1</a>
                                            </div>
                                            <div class="item">
                                                <a href="#">Thịt bò 1</a>
                                            </div>
                                            <div class="item">
                                                <a href="#">Thịt bò 1</a>
                                            </div>
                                            <div class="item">
                                                <a href="#">Thịt bò 1</a>
                                            </div>
                                            <div class="item">
                                                <a href="#">Thịt bò 1</a>
                                            </div>
                                            <div class="item">
                                                <a href="#">Thịt bò 1</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-section">
                                <div class="panel-heading">
                                    <h2 class="cur-pointer accordion-toggle" data-toggle="collapse" data-target="#collapse4">
                                        Thịt bò
                                    </h2>
                                </div>
                                <div id="collapse4" class="collapse" style="height: auto;">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="item">
                                                <a href="#">Thịt bò 1</a>
                                            </div>
                                            <div class="item">
                                                <a href="#">Thịt bò 1</a>
                                            </div>
                                            <div class="item">
                                                <a href="#">Thịt bò 1</a>
                                            </div>
                                            <div class="item">
                                                <a href="#">Thịt bò 1</a>
                                            </div>
                                            <div class="item">
                                                <a href="#">Thịt bò 1</a>
                                            </div>
                                            <div class="item">
                                                <a href="#">Thịt bò 1</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-9">
                <div id="page-content-wrapper">
                    <div class="container-fluid products">
                        <div class="row">
                            <div class="col-md-4 col-xs-12 item">
                                <div class="thumbs">
                                    <a href="#">
                                        <img src="images/meat.png" />
                                    </a>
                                </div>
                                <div class="decs">
                                    <a href="" class="name">
                                        Thịt bò
                                    </a>
                                    <div class="package-price">
                                        <p class="price">
                                            <label>Giá cũ: <strong>111.200 VNĐ/Kg</strong></label>
                                        </p>
                                        <p class="price">
                                            <label>Giá mới: <strong>111.200 VNĐ/Kg</strong></label>
                                        </p>
                                        <div class="clearfix"></div>
                                        <p>
                                            <a href="#" class="add-to-cart">Cho vào giỏ</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-12 item">
                                <div class="thumbs">
                                    <a href="#">
                                        <img src="images/meat.png" />
                                    </a>
                                </div>
                                <div class="decs">
                                    <a href="" class="name">
                                        Thịt bò
                                    </a>
                                    <div class="package-price">
                                        <p class="price">
                                            <label>Giá cũ: <strong>111.200 VNĐ/Kg</strong></label>
                                        </p>
                                        <p class="price">
                                            <label>Giá mới: <strong>111.200 VNĐ/Kg</strong></label>
                                        </p>
                                        <p>
                                            <a href="#" class="add-to-cart">Cho vào giỏ</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-12 item">
                                <div class="thumbs">
                                    <a href="#">
                                        <img src="images/meat.png" />
                                    </a>
                                </div>
                                <div class="decs">
                                    <a href="" class="name">
                                        Thịt bò
                                    </a>
                                    <div class="package-price">
                                        <p class="price">
                                            <label>Giá cũ: <strong>111.200 VNĐ/Kg</strong></label>
                                        </p>
                                        <p class="price">
                                            <label>Giá mới: <strong>111.200 VNĐ/Kg</strong></label>
                                        </p>
                                        <p>
                                            <a href="#" class="add-to-cart">Cho vào giỏ</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-xs-12 item">
                                <div class="thumbs">
                                    <a href="#">
                                        <img src="images/meat.png" />
                                    </a>
                                </div>
                                <div class="decs">
                                    <a href="" class="name">
                                        Thịt bò
                                    </a>
                                    <div class="package-price">
                                        <p class="price">
                                            <label>Giá cũ: <strong>111.200 VNĐ/Kg</strong></label>
                                        </p>
                                        <p class="price">
                                            <label>Giá mới: <strong>111.200 VNĐ/Kg</strong></label>
                                        </p>
                                        <div class="clearfix"></div>
                                        <p>
                                            <a href="#" class="add-to-cart">Cho vào giỏ</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-12 item">
                                <div class="thumbs">
                                    <a href="#">
                                        <img src="images/meat.png" />
                                    </a>
                                </div>
                                <div class="decs">
                                    <a href="" class="name">
                                        Thịt bò
                                    </a>
                                    <div class="package-price">
                                        <p class="price">
                                            <label>Giá cũ: <strong>111.200 VNĐ/Kg</strong></label>
                                        </p>
                                        <p class="price">
                                            <label>Giá mới: <strong>111.200 VNĐ/Kg</strong></label>
                                        </p>
                                        <p>
                                            <a href="#" class="add-to-cart">Cho vào giỏ</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-12 item">
                                <div class="thumbs">
                                    <a href="#">
                                        <img src="images/meat.png" />
                                    </a>
                                </div>
                                <div class="decs">
                                    <a href="" class="name">
                                        Thịt bò
                                    </a>
                                    <div class="package-price">
                                        <p class="price">
                                            <label>Giá cũ: <strong>111.200 VNĐ/Kg</strong></label>
                                        </p>
                                        <p class="price">
                                            <label>Giá mới: <strong>111.200 VNĐ/Kg</strong></label>
                                        </p>
                                        <p>
                                            <a href="#" class="add-to-cart">Cho vào giỏ</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li>
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li>
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="container-fluid get-promotion no-padding">
        <div class="line">
            <span>NHẬN THÔNG TIN KHUYẾN MÃI</span>
        </div>
        <div class="clearfix"></div>
        <div class="email-promotion">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <div class="circle">
                            <p>Giảm ngay</p>
                            <p><span class="percent">20%</span></p>
                            <p>khi mua thịt bò</p>
                        </div>
                    </div>
                    <div class="col-md-4 mail-text">
                        <p>
                            Điền địa chỉ mail để nhận những chương trình hấp dẫn
                        </p>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Nhập địa chỉ email" />
                            <a href="#" class="add-email">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="container-fluid no-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="panel">
                            <h3 class="title">Menu</h3>
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-angle-right" aria-hidden="true"></i> Sản phẩm
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-angle-right" aria-hidden="true"></i> Sản phẩm
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-angle-right" aria-hidden="true"></i> Sản phẩm
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel address">
                            <h3 class="title">Liên hệ</h3>
                            <p>
                                <strong>
                                    Công ty cổ phần D&A Việt Nam
                                </strong>
                            </p>
                            <p>
                                Tầng 8, 18 Lý Thường Kiệt Hà Nội
                            </p>
                            <p>
                                Điện thoại: 0123.456.789
                            </p>
                            <p>
                                Email: <a href="mailto:thitbo123@gmail.com">thitbo123@gmail.com</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel social">
                            <h3 class="title">Kết nối</h3>
                            <ul>
                                <li>
                                    <a href="">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            © BEEF JAPAN 2016.  Bản quyền thuộc về
        </div>
    </footer>
    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>