/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);*/
@font-face {
    font-family: UVNSangSongNang;
    src: url(fonts/UVNSangSong_N.ttf) format('truetype');
}
body {
    background: #fff;
    color: #000000;
    font-family: "Myriad Pro";
    margin: 0 auto;
    overflow-x: hidden;
}
.no-margin {
    margin: 0;
}
.no-margin-left {
    margin-left: 0;
}
.no-margin-right {
    margin-right: 0;
}
.no-padding {
    padding: 0;
}
.no-padding-left {
    padding-left: 0;
}
.no-padding-right {
    padding-right: 0;
}
.margin-auto{
    margin: 0 auto;
}
.navbar-default {
    background: #fff;
    border: none;
    margin-bottom: 0;
}
.main-container {
    width: 1366px;
}
ul.nav {
    margin-top: 77px;
    margin-left: 50px;
}
.navbar-header {
    margin-left: 85px;
}
#myNavbar .nav > li > a {
    color: #000000;
    font-weight: 500;
    font-style: italic;
    text-transform: uppercase;
    font-size: 18px;
    margin-right: 45px;
    font-family: "Myriad Pro";
    padding: 0;
}
#myNavbar .nav > li:last-child > a {
    margin-right: 0;
}

.nav > li > a > img {
    max-width: 85px;
    margin-top: -33px;
}

.nav > li {
    text-align: center;
}

.nav > li:first-child {
}

.nav > li#last {
    padding-left: 50px;
    font-size: 17px;
}

.navbar-toggle {
    margin-top: 19px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: transparent;
}

.clear {
    clear: both;
}
.navbar-header .logo {
    width: 305px;
}
.slide img{
    width: 100%;
    height: auto;
}
#main-content .section {
    margin-top: 65px;
}
#main-content .section header {
    margin-bottom: 30px;
}
#main-content .section header h1.title{
    text-align: center;
    line-height: 60px;
}
#main-content .section header h1.title a {
    font-size: 60px;
    font-style: italic;
    font-weight: bold;
    font-family: "Minion Pro";
}
#main-content .section header .pattern{
    width: 100%;
    height: 70px;
    text-align: center;
    background: url(../images/icon-pattern-1.png) no-repeat center center;
    background-size: 385px;
}
#main-content .section .section-body .section-menu{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}
#main-content .section .section-body .section-menu h2 {
    display: inline;
    margin-right: 90px;

}
#main-content .section .section-body .section-menu h2:last-child {
    margin-right: 0;
}
#main-content .section .section-body .section-menu h2 a {
    font-size: 33px;
    font-weight: 400;
    font-style: italic;
    font-family: "UVNSangSongNang"
}
#photos .item {
    display: block;
    float: left;
    margin-left: 15px;
    overflow: hidden;
    position: relative;
    height: 535px;
}
#photos .item:first-child {
    margin-left: 0;
}
#photos .item .img-item {
    display: block;
    float: left;
    height: inherit;
}
#photos .item .img-item img {
    min-width: 100%;
    min-height: 100%;
    /*position: absolute;
    top: 50%;
    left: 50%;*/
    /*transform: translate(50%, 50%);*/
}
#photos .img-1 .img-item{
    width: 307px;
}
#photos .img-2 {
    width: 365px;
}
#photos .img-2 .img-item{
    width: inherit;
    overflow: hidden;
}
#photos .img-2 .img-item:first-child {
    height: 205px;
    margin-bottom: 15px;
}
#photos .img-2 .img-item:last-child {
    height: 315px;
}
#photos .img-3 {
    width: 210px;
}
#photos .img-3 .img-item{
    width: inherit;
    overflow: hidden;
}
#photos .img-3 .img-item:first-child {
    height: 310px;
    margin-bottom: 15px;
}
#photos .img-3 .img-item:last-child {
    height: 210px;
}
#photos .img-4 {
    width: 213px;
}
#photos .img-4 .img-item{
    width: inherit;
    overflow: hidden;
}
#photos .img-4 .img-item:first-child {
    height: 160px;
    margin-bottom: 15px;
}
#photos .img-4 .img-item:last-child {
    height: 375px;
}
.section.videos .section-body .item {
    position: relative;
}
.section.videos .section-body .item .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.section.videos .section-body .item .overlay > a > img {
    margin: 0 auto;
    display: block;
    margin-top: 24%;
    width: 110px;
}
.section.videos .section-body .item img{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.section.videos .section-body .item > h2 {
    margin: 20px auto;
    text-align: center;
}
.section.videos .section-body .item > h2 a{
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: "Minion Pro";
}

.section.package-price .item {
    position: relative;
    text-align: center;
}
.section.package-price .item > a {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    display: block;
    z-index: 0;
    float: left;
}
.section.package-price .item > a > img{
    display: block;
    float: left;
    width: 100%;
    max-height: 280px;
}
.section.package-price .item .icon-heart {
    width: 80px;
    height: 70px;
    background: url(../images/icon-heart.png) no-repeat;
    display: inline-block;
    margin: 0 auto;
    background-size: 100%;
    margin-top: -40px;
}
.section.package-price .item h2 a{
    font-size: 33px;
    font-weight: 400;
    font-family: "UVNSangSongNang";
    margin-top: 20px;
    display: block;
}
.section.blogs .item > a {
    display: block;
    float: left;
    width: 100%;
}
.section.blogs .item > a img {
    min-width: 350px;
    min-height: 265px;
    display: block;
    margin-bottom: 15px;
    float: left;
    width: 100%;
}
.section.blogs .item .desc > h2 {
    display: block;
    float: left;
    margin-bottom: 5px;
    width: 100%;
}
.section.blogs .item .desc > h2 a{
    font-size: 30px;
    font-weight: bold;
    font-family: "Arial";
}
.section.blogs .item .sub-content{
    font-family: "Arial";
    font-size: 26px;
    font-weight: 400;
    line-height: 28px;
}
footer {
    background: #000000;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 150px;
}
footer .address ul li, footer .address p, footer .address a{
    color: #fff;
    font-size: 20px;
    line-height: 30px;
}
.fb-comments, .fb-comments iframe[style], .fb-comments span {
   width: 100% !important;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}
@media (max-width: 400px) {
    
}
/* iPads (portrait and landscape) ----------- */
@media screen and (max-width: 480px) {
    
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    
}

@media (max-width: 800px) {
    
}
@media (max-width: 1000px) {
    
}
@media (max-width: 1200px) {
    
}
