/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);*/
@font-face {
    font-family: UVNSangSongNang;
    src: url(fonts/UVNSangSong_N.ttf) format('truetype');
}
body {
    background: #fff;
    color: #000000;
    font-family: "Myriad Pro";
    margin: 0 auto;
    overflow-x: hidden;
}
.no-margin {
    margin: 0;
}
.no-margin-left {
    margin-left: 0;
}
.no-margin-right {
    margin-right: 0;
}
.no-padding {
    padding: 0;
}
.no-padding-left {
    padding-left: 0;
}
.no-padding-right {
    padding-right: 0;
}
.margin-auto{
    margin: 0 auto;
}
.navbar-default {
    background: #fff;
    border: none;
    margin-bottom: 0;
}
.main-container {
    width: 1366px;
}
ul.nav {
    margin-top: 77px;
    margin-left: 50px;
}
.navbar-header {
    margin-left: 85px;
}
#myNavbar .nav > li > a {
    color: #000000;
    font-weight: 500;
    font-style: italic;
    text-transform: uppercase;
    font-size: 18px;
    margin-right: 45px;
    font-family: "Myriad Pro";
    padding: 0;
}
#myNavbar .nav > li:last-child > a {
    margin-right: 0;
}

.nav > li > a > img {
    max-width: 85px;
    margin-top: -33px;
}

.nav > li {
    text-align: center;
}

.nav > li:first-child {
}

.nav > li#last {
    padding-left: 50px;
    font-size: 17px;
}

.navbar-toggle {
    margin-top: 19px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: transparent;
}

.clear {
    clear: both;
}
.navbar-header .logo {
    width: 305px;
}
.top-header {
    height: 105px;
}
.top-header .row{
    text-align: center;
}
.top-header .hotline {
    font-size: 25px;
    color: #727272;
}
.top-header .hotline strong {
    font-weight: bold;
}
.top-header .logo-text {
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    font-size: 31px
}
.top-header .cart label, .top-header .cart i{
    font-size: 13px;
    color: #727272;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}
@media (max-width: 400px) {
    
}
/* iPads (portrait and landscape) ----------- */
@media screen and (max-width: 480px) {
    
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    
}

@media (max-width: 800px) {
    
}
@media (max-width: 1000px) {
    
}
@media (max-width: 1200px) {
    
}
